.home-banner {
    min-height: 100vh;
    background: linear-gradient(to right, #f0f8ff, #e6f2ff);
    padding: 3rem 1rem;
}

@media (max-width: 768px) {
    .home-banner h1 {
    font-size: 2rem;
    }

    .home-banner p {
    font-size: 1rem;
    }
}
